#__next {
    display: contents;
  }

* {
    transition: all 0.2s ease-in-out;
    font-family: 'Space Mono', monospace;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    --primary: #0079ff;
    --primary-hover: #60abff;
    --txt-high-contrast: #fff;
    --txt-mid-contrast: #ffff;
    --txt-low-contrast: #fff;
    --txt-search: #fff;
    --txt-search-placeholder: #fff;
    --bg: #141d2f;
    --bg-secondary: #1e2a47;
    --theme-switch-btn-hover: #90a4d4;
    --error: #f74646;
  }

  body {
    display: flex;
    justify-content: center;
    background-color: var(--bg);
    min-height: 100vh;
    padding: 75px 96px;
    background-color: var(--bg);
  }

  .hidden {
    display: none;
  }
  
  button {
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
  }
  
  input {
    border: none;
    background: none;
    outline: none;
  }

  a {
    color: var(--primary);
  }
  
  button:focus,
  input:focus,
  a:focus {
    outline: dotted #90a4d4 1.75px;
    border-radius:6px;
  }
  
  .opacity-75 {
    opacity: 0.75;
  }
  
  .opacity-50 {
    opacity: 0.5;
  }

  .btn {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .btn-primary {
    color: #fff;
    background-color: var(--primary);
    font-size: 1rem;
    border-radius: 10px;
    padding: 13px 24px;
    font-weight: 700;
  }
  
  .btn-primary:hover {
    background-color: var(--primary-hover);
  }
  
  @media (max-width: 650px) {
    .btn-primary {
      font-size: 0.875rem;
      padding: 12.5px 16px;
    }
    body {
        padding: 32px 24px 80px 24px;
      }
  }
